@use './config.scss' as *;

// 拼接类名
@mixin joinClass($className) {
  $name: $namespace + $common-separator + $className !global;

  .#{$name} {
    @content;
  }
}

// 接着父类
@mixin when($state, $value: null, $separator: '.') {
  @at-root {
    @if #{$value} != null {
      &#{$separator}#{$state}-#{$value} {
        @content;
      }
    } @else {
      &-#{$state} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + $selector + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}
