@use './config.scss' as *;

// 拼接类名
@mixin b($className) {
  $name: $namespace + $common-separator + $className !global;

  .#{$name} {
    @content;
  }
}

// 拼接类型 f-button--loading f-button--disabled
@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + $selector + $modifier-separator + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}
