@use 'sass:map';

@use 'common/var.scss' as *;
@use 'mixins/mixins.scss' as *;
@use 'mixins/button' as *;

@include b(button) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: map.get($input-height, 'default');
  line-height: 1;
  cursor: pointer;
  text-align: center;
  outline: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  transition: 0.1s;

  @each $type in (primary, success, warning, danger) {
    @include m($type) {
      @include button-variant($type);
    }
  }
}
